<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/ezywebwerkstaden/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ezydeploy" />
            <add key="ClearTextPassword" value="79712c34a0eb857c3ef92d0e2c92bcdce1bec593" />
        </github>
    </packageSourceCredentials>
</configuration>